@media only screen and (min-width: 0em) {
    .search-container {
        .search-form {
            .input-search {
                border: 1px solid lightgray;
                border-radius: 2rem;
                height: 2rem;
                line-height: 2rem;
                padding: 0px 0.5rem;
            }
        }
    }
}

@media only screen and (min-width: 0em) {
    
}

@media only screen and (min-width: 0em) {
    
}

@media only screen and (min-width: 0em) {
    
}
