@import url(https://fonts.bunny.net/css?family=aclonica:400|roboto:100,300,400,500,700,900);

:root {
    height: 100%;
    --avatar-small-size: 40px;
    --avatar-large-size: 64px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    background-color: aqua;
    width: 100%;
    height: 100%;
}

.sidebar {
    display: grid;
    grid-row: span 2;
    grid-template-rows: min-content min-content min-content;
    background-color: #0f766e;
    position: relative;
    z-index: 10;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, .5);
}

.side-wrapper {
    gap: 2rem;
}

.sidebar > div {
    position: sticky;
    top: 1rem;
    display: grid;
    color: white;
}

.side-header {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;
}

.sidebar > div > h1, .sidebar > div > span {
    margin-left: 1rem;
}

.sidebar > div > ul > li > span {
    font-size: 1.5rem;
}

.dashboard-logo {
    width: 48px;
}

li {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;
}

li:hover,
button:hover {
    background-color: #093d39;
}

ul {
    padding: 0;
    margin: 0px;
    padding-top: 1rem;
    display: grid;
    grid-template-rows: repeat(6, 3.5rem);
    font-weight: 700;
}

.icon-small {
    height: 32px;
}

.side-settings {
    padding-top: 1rem;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 1rem;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 3rem;
    align-content: center;
    background-color: #ffffff;
    overflow: clip;
    top: 0;
    position: sticky;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
}

.header-utilities {
    display: grid;
    grid-template-columns: minmax(300px, 75%) repeat(3, 1fr);
    align-items: center;
}

.search-area {
    display: flex;
    gap: 2rem;
    align-items: center;
}

input {
    width: 40rem;
    min-width: 10rem;
    height: 2rem;
    border: 1px solid lightgrey;
    background-color: #dee5ed;
    border-radius: 2rem;
}

.avatar-small {
    width: var(--avatar-small-size);
    height: var(--avatar-small-size);
    border-radius: 50%;
}

#notif {
    display: flex;
    align-self: center;
    justify-self: right;
}

#avatar-header {
    display: flex;
    justify-self:center;
}

.herobar {
    display: grid;
    align-items: center;
    gap: 20px;
    grid-template-columns: var(--avatar-large-size) 5fr 3fr;
}

.avatar-large {
    width: var(--avatar-large-size);
    height: var(--avatar-large-size);
    border-radius: 50%;
}

.heroname {
    display: flex;
    flex-direction: column;
}

.heroname > * {
    margin: 0rem;
}

.heroname > p:first-child {
    font-weight: 600;
}

.heroname > p:last-child {
    font-size: 2rem;
    font-weight: 700;
}

.hero-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 1rem;
}

.hero-buttons > * {
    cursor: pointer;
    background-color: #0f766e;
    color: #f0fdfa;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    font-weight: 900;
    font-size: 1em;
}

.main {
    background-color: #dee5ed;
    padding: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.project {
    padding: .5rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: 2rem 1fr;
    font-size: 1.5rem;
    font-weight: 500;
}

.project-cards-container {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(auto-fit, minmax(min-content, 100%));
    gap: 1.5rem;
}

.project-card {
    cursor: pointer;
    width: 25rem;
    height: 13rem;
    background: linear-gradient(to right, #f4b342 2%, #ffffff 2%);
    border: 1px solid lightgray;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-template-rows: 4fr 1fr;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
}

.project-info {
    grid-column: span 3;
    padding: 1rem;
    padding-right: 5rem;
}

.project-info > * {
    margin: 0px;
}

.project-info > p:first-child {
    font-size: 1.25rem;
    font-weight: 800;
}

.project-info > p:last-child {
    font-size: 1rem;
    color: #646464;
}

.project-widgets {
    grid-column: 3 / span 1;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1rem;
}

.project-widgets > * {
    cursor: pointer;
    width: 1.5rem;
}

.project-widgets > *:hover {
    background-color: #093d39;
    border-radius: 10px;
}

#merge-icon {
    transform: rotate(180deg);
}

.main-sidebar {
    padding: .5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 1.5rem;
    font-weight: 500;
}

.announce {
    display: grid;
    grid-template-rows: 2rem 1fr;
    gap: 1rem;
}
