@import url(https://fonts.bunny.net/css?family=aclonica:400|roboto:100,300,400,500,700,900);

:root {
    height: 100%;
    --avatar-small-size: 40px;
    --avatar-large-size: 64px;
    --green-bg-color: #0f766e;
    --green-bg-color-hover: #093d39;
    --white-bg-color: white;
    --grey-bg-color: #dee5ed;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    height: 100%;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.sticky{
    position: sticky;
    top: 0rem;
}

.green-background {
    background-color: var(--green-bg-color);
    color: var(--white-bg-color);
}

.interactive {
    cursor: pointer;
}

.green-background.interactive:hover {
    background-color: var(--green-bg-color-hover);
}

.white-background {
    background-color: var(--white-bg-color);
}

.grey-background {
    background-color: var(--grey-bg-color);
}

.box-shadow {
    box-shadow: 2px 0px 10px rgba(0, 0, 0, .5);
}

.header-large {
    font-size: 2rem;
    font-weight: 700;
}

.container {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-row: span 2;
    grid-template-rows: min-content min-content min-content;
    position: relative;
    z-index: 10;
    height: 100%;
}

.side-wrapper {
    gap: 2rem;
} 

.side-header {
    grid-template-columns: 1fr 10fr;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;
}

.dashboard-logo {
    width: 48px;
}

li {
    grid-template-columns: 1fr 10fr;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;
}

ul {
    padding: 0;
    margin: 0px;
    padding-top: 1rem;
    grid-template-rows: repeat(6, 3.5rem);
    font-weight: 700;
}

.icon-small {
    height: 32px;
}

.side-settings {
    padding-top: 1rem;
}

.header {
    grid-template-rows: 1fr 2fr;
    gap: 1rem;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 3rem;
    align-content: center;
    overflow: clip;
}

.header-utilities {
    grid-template-columns: minmax(300px, 75%) repeat(3, 1fr);
    align-items: center;
}

.search-area {
    gap: 2rem;
    align-items: center;
}

input {
    width: 40rem;
    min-width: 10rem;
    height: 2rem;
    border: 1px solid lightgrey;
    border-radius: 2rem;
    padding-left: 1rem;
}

input:focus {
    font-weight: 700;
}

input:focus::placeholder {
    color: transparent;
}

.avatar-small {
    width: var(--avatar-small-size);
    height: var(--avatar-small-size);
    border-radius: 50%;
}

#notif {
    justify-self: right;
}

#avatar-header {
    justify-self:center;
}

.herobar {
    align-items: center;
    gap: 20px;
    grid-template-columns: var(--avatar-large-size) 5fr 3fr;
}

.avatar-large {
    width: var(--avatar-large-size);
    height: var(--avatar-large-size);
    border-radius: 50%;
}

.heroname {
    flex-direction: column;
}

.heroname > *,
.project-info > *,
.ar-article > *  {
    margin: 0rem;
}

.hero-buttons {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 1rem;
}

.hero-buttons > * {
    height: 2rem;
    border-radius: 1rem;
    border: none;
    font-weight: 900;
    font-size: 1rem;
}

.main {
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    height: auto;
    gap: 1rem;
}

.project {
    padding: .5rem;
    gap: 1rem;
    grid-template-rows: 2rem 1fr;
    font-size: 1.5rem;
    font-weight: 500;
    grid-row: span 2;
}

.project-cards-container {
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
    gap: 1.5rem;
}

.project-card {
    width: 25rem;
    height: 13rem;
    background: linear-gradient(to right, #f4b342 2%, #ffffff 2%);
    border: 1px solid lightgray;
    border-radius: 10px;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-template-rows: 4fr 1fr;
    padding: 1rem;
    gap: 1rem;
}

.project-info {
    grid-column: span 3;
    padding: 1rem;
    padding-right: 5rem;
}

.project-info > p:first-child {
    font-size: 1.25rem;
    font-weight: 800;
}

.project-info > p:last-child {
    font-size: 1rem;
    color: #646464;
}

.project-widgets {
    grid-column: 3 / span 1;
    align-items: center;
    gap: 1rem;
}

.project-widgets > * {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

#merge-icon {
    transform: rotate(180deg);
}

.announce {
    grid-template-rows: 2rem 1fr;
    padding: 0.5rem;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.announce-panel {
    width: 90%;
    height: auto;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.ar-article {
    flex-wrap: wrap;
    flex: 1 1 auto;
    align-content: center;
}

.ar-article + .ar-article {
    border-top: 1px solid #646464;
}

.announce .title {
    font-size: 1rem;
}

.announce .description {
    display: -webkit-box;
    font-size: .75rem;
    padding-right: 3rem;
    height: 50px;
    color: #646464;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
}

.trend {
    grid-template-rows: 2rem 1fr;
    padding: 0.5rem;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.trend-panel {
    width: 90%;
    height: auto;
    grid-template-rows: repeat(4, 1fr);
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
}

.friend-wrapper {
    margin-left: 1rem;
}

.friend-wrapper>* {
    font-size: 1rem;
}

.friend-wrapper>:last-child {
    font-weight: 300;
    color: #646464;
}

.trend-profile-container {
    align-items: center;
}
